body{
    background-color: black;
    font-size:20rem;
    color:#fff;
    text-align: center;
    margin-top: 20%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}